:root {
    --header: #26292e;
    --pink: #e7718b;
    --pbord: #f7b5c3;
    --btn: #2a2a2a;
    --mid: #f0e8e8;
    --bg: #ffffff;
    --box: #434242;
    --shad: #d1d1cf;
    --bord: #bdc5da;
    --font: 'Butterfly Kids', cursive;
}

* {box-sizing: border-box;}

body {
    margin: 0;
    padding: 0;
    background-color: var(--bg);
}

a {
    text-decoration: none;
    color: var(--bg);
}

ul {
    list-style-type: none;
    padding-left: 0;
    color: var(--bg);
    text-align: right;
    margin: 0;
}

.inner {
    margin: 0 auto;
    width: 90%;
}

.top-header {
    padding: 15px 0;
    background-color: var(--header);
}

.top-header .inner {
    display: flex;
    justify-content: space-between;
}

.heading {
    margin: 0;
    margin-top: 10px;
    width: 50%;
    color: var(--bg);
    font-family: var(--font);
    font-size: 30px;
}

#topSocials {
    margin: 0;
    margin-bottom: 15px;
    width: 50%;
}

.social-list {
    margin-left: 30px;
}


.bottom-header {
    padding-bottom: 50px;
    background-color: var(--pink);
}

.bottom-header .inner {
    display: flex;
    justify-content: space-between;
}

#box1, #box2 {
    width: 50%;
}

.welcome-text {
    width: 90%;
}

.content-section1 {
    background-color: var(--mid);
    border-bottom: 5px solid var(--pbord);
}

#learnMore, #downNow {
    margin-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    height: 30px;
    color: var(--bg);
    background-color: var(--btn);
    border-radius: 5px;
}

#learnMore {
    width: 100px;
}

.content-section1 .inner {
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
    margin-bottom: 60px;
}

#contBox1, #contBox2, #contBox3 {
    width: 40%;
    padding-right: 30px;
}

.product {
    background-color: var(--box);
}

.product-section .inner {
    display: flex; 
    justify-content: space-between;
    padding-top: 20px;
}

.product-div, .comment-div {
    width: 40%;
}

.product-div {
    width: 60%;
}
.comment-div {
    width: 30%;
}

.product-heading {
    font-size: 23px;
}

.comment-heading {
    font-size: 23px;
}

#product1, #product2, #product3, #product4 {
    width: 300px;
    height: 150px;
    box-shadow: 0 10px 10px 3px;
    border: 10px solid var(--bord);
    color: var(--shad);
}

#product1, #product3 {
    margin-right: 50px;
}

#product2, #product4 {
    margin-left: 20px;
}

#product1, #product2 {
    margin-top: 30px;
}

.products {
    display: flex;
    flex-wrap: wrap;
    height: 500px;
}

.clients-comments {
    display: flex;
    flex-wrap: wrap;
    margin-top: 70px;
    height: 400px;
}

.footer .inner {
    display: flex;
    flex-wrap: wrap;
    padding: 15px;
}

.footer {
    background-color: var(--header);
}

.colophon, #bottomSocials {
    width: 50%;
}

.colophon {
    color: white;
}

#bottomSocials {
    background-color: var(--header);
}

.socials {
    margin-top: 20px;
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
}

.social-list2 {
    padding-left: 30px;
}

.clear {
    clear: both;
}